.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .prepend {
        display: flex;
        justify-content: center;
        input {
            flex: 1 1 90%;
            border: 1px solid #dee2e6;
            border-left: none;
        }
        input:focus {
            outline: none;
        }
        button {
            flex: 1 1 10%;
            border: none;
        }
    }
    .append {
        display: flex;
        justify-content: center;
        button {
            flex: 1 1 10%;
            border: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        input {
            flex: 1 1 90%;
            border: 1px solid #dee2e6;
            border-right: none;
        }
        input:focus {
            outline: none;
        }
    }
    input {
        flex: 1 1
    }
}

input {
    font-size: 1rem!important;
    padding: .75rem;
    border: 1px solid #797878;
    border-radius: .25rem;
}