.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 100%;
   .page-content {
        display: flex;
        flex-direction: column;
        border-radius: .25rem;
        padding: 1.75rem;
        box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.05);
        background-color: white;
        width: 1000px;
        height: auto;
        margin: 0 auto 1.75rem auto;
        @media (max-width: 1000px) {
            width: 100%;
            padding: 1rem;
        }
   }
   .page-bottom {
        background-color: #DDD7D0;
        height:auto;
   }
}